<!-- Purchase Order Recommendations header + button -->
<section class="table-title-button">
  <h4 class="table-title">All SKU Inventory Details</h4>
  <div>
    <button class="add-new-product-button" mat-button (click)="openAddProductDialog()">Add New Product</button>
  </div>
</section>
<!-- Show SKU details table -->
<section class="table-design" *ngIf="!loading && datasource.data.length > 0">
  <div class="table-scroll-wrapper">
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8 full-width-table" >

      <ng-container matColumnDef="image">
        <th class="table-header" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let e">
          <img [src]="e.image" class="imgClass" />
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Product name</th>
        <td mat-cell *matCellDef="let e">{{ e.product_name }}</td>
      </ng-container>

      <ng-container matColumnDef="sku">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Sku</th>
        <td mat-cell *matCellDef="let e">{{ e.sku }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let e">{{ e.category }}</td>
      </ng-container>

      <ng-container matColumnDef="store_id">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Store ID</th>
        <td mat-cell *matCellDef="let e">{{ e.store_id }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let e">{{ e.location }}</td>
      </ng-container>

      <ng-container matColumnDef="on_hand">
        <th class="table-header" mat-header-cell *matHeaderCellDef>On Hand</th>
        <td mat-cell *matCellDef="let e">{{ e.on_hand }}</td>
      </ng-container>

      <ng-container matColumnDef="in_transit">
        <th class="table-header" mat-header-cell *matHeaderCellDef>In Transit</th>
        <td mat-cell *matCellDef="let e">{{ e.in_transit }}</td>
      </ng-container>

      <ng-container matColumnDef="safety_stock">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Safety Stock</th>
        <td mat-cell *matCellDef="let e">{{ e.safety_stock }}</td>
      </ng-container>

      <ng-container matColumnDef="reorder_point">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Reorder Point</th>
        <td mat-cell *matCellDef="let e">{{ e.reorder_point }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th class="table-header" mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let e">{{ e.status }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="table-header" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let product; let i=index">
          <button mat-icon-button color="primary" (click)="openAddEditProductDialog(product)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedPOColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedPOColumns"></tr>
    </table>
    <!-- Show message when no data available -->
    <div class="no-data-container" *ngIf="!loading && datasource.data.length === 0">
      <mat-icon>info</mat-icon>
      No data available to display!
    </div>
  </div>
</section>

<!-- Show loader while loading details... -->
<div class="table-loader" *ngIf="loading">
  <mat-spinner diameter="40"></mat-spinner>
  <div class="loading-text">Loading details...</div>
</div>
